.DS_Store
.coverage*
*~
*.orig
*.rej
*.pyc
*.aux
*.out
*.toc
*.synctex.gz
**/model_data
*.sp
*.backup
*.log
outputs
technology/
open_pdks/
sim/
sim1/
miniconda/
**/__pycache__
size_optimization/experiment/
size_optimization/smac_output/
equivalent_modeling/results/
equivalent_modeling/images/
equivalent_modeling/EQUIVALENT_CIRCUIT_ANALYSIS.md
equivalent_modeling/使用说明.md